@layout LoginLayout
@page "/register"
<h3>Register</h3>
@inject HttpClient http
@inject NavigationManager uriHelper
@inject ILoginService loginService
@using Reservations.Client.Auth
@using Reservations.Shared.Models
@using Reservations.Shared.Generic



<EditForm Model="reg" OnValidSubmit="signup">
    <DataAnnotationsValidator />

    <div class="form-field">
        <label>Name:</label>
        <div>
            <InputText Class="form-control" @bind-Value="@reg.User.UserCode" />
            <ValidationMessage For="@(() => reg.User.UserCode)" />
        </div>
    </div>
    <div class="form-field">
        <label>Password:</label>
        <div>
            <InputPassword Class="form-control" @bind-Value="@reg.User.PassWord" />
            <ValidationMessage For="@(() => reg.User.PassWord)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</EditForm>

@code {
    private RegisterDto reg = new RegisterDto();

    private async Task signup()
    {
        var result = await http.PostJsonAsync<ApiResult<UserDto>>("api/auth/signup", reg);
        //await loginService.Login(result.Payload.Token);
        uriHelper.NavigateTo("index");
    }

}
