@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">


                    <a href="Logout" class="nav-link btn btn-link">Log out</a>


                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        User not authorized
    </NotAuthorized>

</AuthorizeView>